{% extends 'foro/base.html' %}

{% block content %}

<div class="post">
    {% for post in posts %}
    <h1>
        <h1><a href="{% url 'detalle_post' pk=post.pk %}">Título: {{ post.titulo }}</a></h1>
    </h1>
    <p>Texto: {{ post.texto|linebreaksbr }} </p>
    <p> publicado: {{ post.fecha_publicacion }} </p>
    <a href="{% url 'detalle_post' pk=post.pk %}">Comentarios: {{ post.comentarios.count }}</a>

    <a class="btn btn-outline-primary ml-2" href="{% url 'añadir_comentario' pk=post.pk %}">Añadir comentario</a>
    {% endfor %}
</div>

{% endblock %}